{
    "swagger": "2.0",
    "info": {
        "description": "This is a Lania backend.",
        "title": "Lania API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.lania.gg",
    "basePath": "/v1",
    "paths": {
        "/v1/health": {
            "get": {
                "description": "Get the health status of all system components including API, Database, Search, and Cache",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "status"
                ],
                "summary": "Get system health status",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_lania-smp_backend_internal_transport_http_responses.StatusRes"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/github_com_lania-smp_backend_internal_transport_http_responses.StatusRes"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "github_com_lania-smp_backend_internal_transport_http_responses.StatusRes": {
            "type": "object",
            "properties": {
                "api": {
                    "type": "string"
                },
                "authentication": {
                    "type": "string"
                },
                "cache": {
                    "type": "string"
                },
                "database": {
                    "type": "string"
                }
            }
        }
    }
}