.DS_Store

# IDE
.idea/
.vscode/

# Python
**/.venv/
**/__pycache__/

# Java / Gradle / Maven
**/target/
**/build/
**/.gradle/

# Go
**/artifacts/
**/bin/

# Frontend
front/node_modules/
front/.next/
front/out/
front/build/
front/.vercel/
front/*.tsbuildinfo
front/next-env.d.ts
front/.env*

# Terraform
infra/**/.terraform/
infra/**/.tfvars
infra/**/*.tfstate
infra/**/*.tfstate.*
infra/**/.terraform.lock.hcl
