PORT=8080
CONTEXT_TIMEOUT_MS=5000
DEBUG=false
TZ=Africa/Abidjan

ORY_URL=http://localhost:4000

DATABASE_URL=user:pass@tcp(host:3306)/dbname?parseTime=true
REDIS_URL=redis://localhost:6379

ELASTICSEARCH_URLS=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=1q2w3e4r

JWT_SECRET=SUPABASE_JWT_SECRET

IMGPROXY_URL=https://imgproxy
IMGPROXY_KEY=
IMGPROXY_SALT=

CORS_ALLOWED_ORIGINS=http://localhost:3000

# Business constraints
ACTIVE_SEASON_ID=123e4567-e89b-12d3-a456-426614174003
MAX_PROFILES_PER_USER=2
DEFAULT_NAME_COLOR_ID=2628bf9d-5b7c-438b-900a-67753261a823

# Robokassa
FREEKASSA_PAYMENT_URL_FORMAT=https://pay.fk.money?m=%s&oa=%d&o=%d&currency=%s&em=%s&s=%s
FREEKASSA_MERCHANT_LOGIN=lania
FREEKASSA_MERCHANT_PASSWORD_1=
FREEKASSA_MERCHANT_PASSWORD_2=

# DonationAlerts
DONATION_ALERTS_CLIENT_ID=
DONATION_ALERTS_CLIENT_SECRET=
DONATION_ALERTS_SCOPE=oauth-user-show oauth-donation-index oauth-donation-subscribe
DONATION_ALERTS_SOCKET_CONNECTION_TOKEN=
DONATION_ALERTS_USER_ID=
ED_SKIP_SIGNATURE_VERIFICATION=false

